.navigation-bar {
  background-color: $green;
  position: fixed;
  top: 0;
  display: flex;
  width: 100%;
  height: 9vh;
  box-shadow: 0 1px 10px 1px $rich-black;
  justify-content: space-between;
}

.nav-left {
  width: 9vw;
  display: flex;
  align-items: center;
  margin-left: 1em;
}

.suitcase-img {
  height: 2.5em;
  width: 2.5em;
  margin-bottom: .75em;
  margin-right: .25em;
}

.book-trip-button {
  background-color: $white;
  color: $rich-black;
  border: 2px solid $rich-black;
  font-size: 1.5em;
  font-weight: bold;
  width: 4em;
  height: 1.5em;
  border-radius: .25em;

  &:hover {
    cursor: pointer;
  }
}

.search-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 25vw;
  margin-top: .5em;
  margin-left: 1em;
}

.search-button {
  margin-right: .25em;
  background-color: $green;
  width: 2.75em;
  height: 2.75em;
  border-radius: .5em;

  &:hover {
    cursor: pointer;
  }
}

.search-input {
  width: 15em;
  height: 2.5em;
  border: .25em solid $green;
  border-radius: .5em;
}

.nav-title {
  font-size: 3.25em;
  font-family: $larger-font;
  color: $rich-black;
}

.nav-right {
  width: 10vw;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

.dropdown-menu,
.dropdown-content:hover {
  cursor: pointer;
}

.dropdown-menu {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 5;

  &:hover .dropdown-content {
    cursor: pointer;
    display: flex;
    flex-direction: column;
  }
}

.hamburger {
  height: 2em;
  width: 2em;
}

.dropdown-content {
  display: none;
  margin-top: 1em;
  background-color: $green;
  text-align: center;
  cursor: pointer;
  height: auto;
  width: auto;
  color: $rich-black;
}

.dropdown-item {
  font-size: 1.5em;
  padding: .35em;
  border: none;
  width: auto;
  text-align: center;

  &:hover {
    box-shadow: inset 0px 0px 4px;
  }
}
