@import 'variables.scss';

.traveler-page {
  align-self: center;
  width: 99vw;
  height: 79vh;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(3, 31vw);
  grid-template-rows: repeat(auto, 25vh);
  justify-content: center;
  margin-top: 9.5vh;
  overflow: scroll;
  padding: .5em;
}

.traveler-trip {
  background-color: $white;
  display: flex;
  flex-direction: row;
  box-shadow: 0 3px 5px -1px $rich-black;
}

.image-wrapper{
  height: 100%;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background-repeat: no-repeat;
  background-size: cover;
}

.destination-title {
  width: 100%;
  text-align: center;
  margin-top: .5em;
  color: $coral;
  font-size: 1.25em;
  background:rgba(255,255,255, .7);
}

.destination-status {
  @extend .destination-title;
  margin-top: 0;
  margin-bottom: .5em;
  font-size: 1em;
}

.info-wrapper {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 1em;
}

.travelers-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: $light-grey;
  border-radius: 1em;
  width: 5em
}

.person-icon {
  height: 3em;
  width: 3em;
}

.number-of-travalers {
  font-size: 2.5em;
  height: auto;
  color: $green;
}

.blur {
  filter:blur(4px);
}
