/* This is an example of using Sass, otherwise plain CSS works too*/
@import 'variables.scss';
@import 'navbar.scss';

html {
  height: 100vh;
  font-family: $regular-font;
  font-size: 1em;
}

body {
  // background: $primary-background;
}
